<!-- templates/search_titles.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Requirement</title>
</head>
<body>
    <h1>Search for N number of Movies based on a Genre</h1>
    <form action="{% url 'NBestRatedGenre' %}" method="get">
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre"><br><br>

        <label for="numberofmovies">Number of Movies:</label>
        <input type="number" id="numberofmovies" name="numberofmovies"><br><br>

        <input type="submit" value="Search">
    </form>

    {% if results %}
        <h2>Results</h2>
        <ul>
            {% for title_object in results %}
                <li>
                    {{ title_object.originalTitle }} - {{ title_object.averageRating }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
